<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, minimum-scale=1, initial-scale=1, user-scalable=yes">

    <title>TourRadar: Search, Compare & Book Tours Online</title>
    <meta name="description"
          content="With more than 20,000 tours and over 1 million departures worldwide. Find the right tour and get the best price. Guaranteed.">
    <link rel="preconnect" href="https://api.myjson.com">
    <link rel="preconnect" href="http://cdn-s3.tourradar.com">
    <link rel="prefetch stylesheet" href="dist/css/main.min.css">
</head>
<body>



<div class="container">

    <div class="page-filters">
        <div class="filter__wrapper">
            <div class="filter__label">
                Departure Date:
            </div>
            <div class="filter__select">
                <select name="sort-results" class="filter__dropdown js-date-filter">
                    <option value="">All</option>
                    <option value="2018-03">March 2018</option>
                    <option value="2018-04">April 2018</option>
                    <option value="2018-05">Mai 2018</option>
                    <option value="2018-06">June 2018</option>
                    <option value="2018-07">July 2018</option>
                    <option value="2018-08">August 2018</option>
                    <option value="2018-09">September 2018</option>
                    <option value="2018-10">October 2018</option>
                </select>
            </div>
        </div>

        <div class="filter__wrapper">
            <div class="filter__label">
                Sort by:
            </div>
            <div class="filter__select">
                <select name="sort-results" class="filter__dropdown js-sort-filter">
                    <option value="">---</option>
                    <option value="asc-price">Lowest price first</option>
                    <option value="desc-price">Highest price first</option>
                    <option value="asc-length">Shortest tour first</option>
                    <option value="desc-length">Longest tour first</option>
                    <option value="reviews">Reviews</option>
                    <option value="popularity">Popularity</option>
                </select>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="js-results-data"></div>
</div>

<script id="results" type="x-tmpl-mustache">
        <ul class="data-list">
            {{#data}}
                <li class="data-list__item">
                    <div class="media__wrapper">
                        <img data-src="{{content.image.url}}" alt="" class="media__image" title="{{content.image.name}}">
                    </div>
                    <div class="details__wrapper">
                        {{#latest.0.discount}}
                        <div class="details__offer"></div>
                        <div class="details__offer-text">{{latest.0.discount}}</div>
                        {{/latest.0.discount}}
                        <div class="details__overview">
                            <h3 class="details__title">{{name}}!</h3>
                            <div class="user-reviews__wrapper">
                                <div class="user-reviews__stars">
                                    <div class="user-reviews__stars-bg" stars={{rating}}></div>
                                    <div class="user-reviews__stars-bg user-reviews__stars-bg--empty"></div>
                                </div>
                                <div class="user-reviews__count">
                                    {{reviews}} reviews
                                </div>
                            </div>

                            <p class="details__excerpt">{{content.excerpt}}</p>

                            <table class="data-table">
                                <tbody>
                                    <tr>
                                        <td>Destionations</td>
                                        <td>18 destinations</td>
                                    </tr>
                                    <tr>
                                        <td>Start/Stop</td>
                                        <td>{{content.start.name}} / {{content.end.name}}</td>
                                    </tr>
                                    <tr>
                                        <td>Operator</td>
                                        <td>{{operator_name}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                        <div class="details__price">
                            <div class="price-data__wrapper">
                                <div class="price-data">
                                    <span class="price-data__text">From</span>
                                    <span class="price-data__amount">&euro; {{latest.0.eur}}</span>
                               </div>

                               <div class="trip-duration">
                                    <div class="trip-duration__value">
                                    {{length}}
                                    </div>
                                    <div class="trip-duration__text">
                                     Days
                                    </div>
                               </div>
                            </div>

                            <table class="data-table data-table--price">
                                <tbody>
                                    {{#latest}}
                                        <tr>
                                            <td>{{formated_date}}</td>
                                            <td>{{availability}} spaces left</td>
                                        </tr>
                                    {{/latest}}
                                </tbody>
                            </table>

                            <a class="button button--primary">View More</a>

                        </div>
                    </div>
                </li>
            {{/data}}
        </ul>

</script>
<script src="https://cdn.polyfill.io/v2/polyfill.min.js"></script>
<script src="node_modules/mustache/mustache.min.js" async defer></script>
<script src="node_modules/moment/min/moment.min.js" async defer></script>
<script src="dist/js/main.min.js" async defer></script>
<!--<script src="dist/js/main-debug.js" async defer></script>-->
</body>
</html>