$default-gutter: 20px;
$default-gutter-half: calc(#{$default-gutter} / 2);

$star-container: calc(16px * 5);
$star-size: 16px;
$star-size-half: calc(#{$star-size} / 2);

$offer-color: $color-white;
$offer-bg: $secondary-color;

$button-color: $color-white;
$button-default-bg: $color-gray;
$button-primary-bg: $primary-color;

$screen-md: 748px;
$screen-lg: 1200px;