.button {
    display: block;
    padding: 0 40px;
    line-height: 30px;
    font-size: 14px;
    text-align: center;
    background-color: $button-default-bg;
    color: $button-color;
    float: right;

    &,
    &:hover,
    &:focus,
    &:active,
    &:visited {
        text-decoration: none;
    }
    @media all and (min-width: $screen-md) {
        float: none;
    }

    &--primary {
        background-color: $button-primary-bg;
    }
}