.data-list {
    margin: 0;
    padding: 0;
    list-style-type: none;

    &__item {
        background-color: white;
        margin-bottom: 20px;
        display: flex;
        flex-direction: column;


        @media all and (min-width: $screen-md) {
            flex-direction: row;
            flex-wrap: nowrap;
        }
    }
}