.data-table{
    font-size: 11px;
    td:first-child {
        color: $color-dark-gray;
        text-transform: uppercase;
        padding-right: $default-gutter-half;
    }

    &--price {
        width: 100%;
        margin-bottom: $default-gutter-half;
        td:last-child {
            text-align: right;
        }
    }
}