.details {
    &__wrapper {
        position: relative;
        padding: $default-gutter-half;
        display: flex;
        flex-direction: column;

        @media all and (min-width: $screen-md) {
            flex: 1 1 auto;
            flex-direction: row;
            flex-wrap: nowrap;
            padding: $default-gutter;
        }
    }

    &__overview {
        @media all and (min-width: $screen-md) {
            flex: 1 1 auto;
        }
    }

    &__price {
        @media all and (min-width: $screen-md) {
            flex: 0 0 200px;
        }
    }

    &__title {
        font-size: 18px;
        margin: 0 0 $default-gutter-half 0;
    }

    &__excerpt {
        margin: 5px 0;
        font-size: 14px;
        line-height: 1.6;
        font-style: italic;
        &:before{
            content: '"'
        }
        &:after{
            content: '"'
        }
    }

    &__offer {
        position: absolute;
        top: 0;
        right: 0;
        width: 40px;
        height: 40px;

        &:after {
            content: " ";
            display: block;
            border: solid 30px;
            border-color: transparent transparent $offer-bg transparent;
            transform: rotate(45deg);
            top: -30px;
            position: absolute;
            right: -30px;
        }

        &-text {
            transform: rotate(45deg);
            position: absolute;
            top: 7px;
            right: 5px;
            font-size: 12px;
            color: $color-white;
        }
    }
}