.page-filters {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin: 20px 0;
}

.filter {
    &__wrapper {
        display: flex;
        flex-direction: column;
        flex: 1 1 50%;

        @media all and (min-width: $screen-md) {
            flex-direction: row;
            flex: initial;
        }

        & + & {
            margin-left: 20px;
        }
    }

    &__label {
        line-height: 30px;
        @media all and (min-width: $screen-md) {
            margin-right: 10px;
        }
    }

    &__select {
        position: relative;
        height: 30px;
        background-color: $color-white;
        overflow: hidden;
        padding-right: 30px;

        &:after {
            position: absolute;
            top: 9px;
            right: 12px;
            content: " ";
            border: solid $color-text;
            border-width: 0 1px 1px 0;
            display: block;
            padding: 4px;
            transform: rotate(45deg);
        }
    }
    &__dropdown {
        font-size: 16px;
        width: calc(100% + 60px);
        height: 30px;
        background-color: $color-white;
        border: 0;
        outline:none;
    }
}