.media {
    &__wrapper {
        position: relative;
        display: flex;
        width: 100%;
        padding-top: 56.25%;
        height: auto;
        overflow: hidden;

        @media all and (min-width: $screen-md) {
            flex: 0 0 200px;
            padding: 0;
        }
    }

    &__image {
        width: 100%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        @media all and (min-width: $screen-md) {
            width: auto;
            max-height: 100%;
        }
    }
}