.price-data {

    &__wrapper {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin: $default-gutter-half 0;

        @media all and (min-width: $screen-md) {
            display: flex;
            flex-direction: column;
            margin: 0;
        }
    }

    display: flex;
    flex-direction: column;
    text-align: right;
    order: 2;

    &__text {
        font-size: 14px;
    }

    &__amount {
        font-size: 18px;
        font-weight: 400;
    }
}

.trip-duration {
    order: 1;
    display: flex;
    flex-direction: column-reverse;

    @media all and (min-width: $screen-md) {
        order: 2;
        display: flex;
        flex-direction: row;
        justify-content: center;
        line-height: 30px;
        margin: 5px 0;
        text-align: center;
        border: solid $color-gray;
        border-width: 1px 0;
    }


    &__value {
        margin-right: 5px;
        font-size: 18px;
        font-weight: 400;
    }

    &__text {
        font-size: 14px;
        @media all and (min-width: $screen-md) {
            text-transform: lowercase;
        }
    }
}