.user-reviews {
    &__wrapper {
        display: flex;
    }

    &__stars {
        position: relative;
        width: $star-container;
        height: $star-size;
        margin-right: $default-gutter-half;

        &-bg {
            position: absolute;
            top: 0;
            left: 0;
            height: $star-size;
            z-index: 1;
            background-image: url("/images/star.png");
            background-repeat: repeat-x;
            background-size: $star-size $star-size;

            &--empty {
                z-index: 0;
                width: $star-container;
                height: $star-size;
                background-image: url("/images/star-empty.png");
                background-repeat: repeat-x;
                background-size: $star-size $star-size;
            }

            &[stars='5'] {
                width: $star-container;
            }
            &[stars='4.5'] {
                width: calc(#{$star-container} - #{$star-size} + #{$star-size-half});
            }
            &[stars='4'] {
                width: calc(#{$star-container} - #{$star-size});
            }
            &[stars='3.5'] {
                width: calc(#{$star-container} - (2 * #{$star-size}) + #{$star-size-half});
            }
            &[stars='3'] {
                width: calc(#{$star-container} - (2 * #{$star-size}));
            }
            &[stars='2.5'] {
                width: calc(#{$star-container} - (3 * #{$star-size}) + #{$star-size-half});
            }
            &[stars='2'] {
                width: calc(#{$star-container} - (3 * #{$star-size}));
            }
            &[stars='1.5'] {
                width: calc(#{$star-container} - (4 * #{$star-size}) + #{$star-size-half});
            }
            &[stars='1'] {
                width: calc(#{$star-container} - (4 * #{$star-size}));
            }
            &[stars='0.5'] {
                width: calc(#{$star-container} - (4 * #{$star-size}) + #{$star-size-half});
            }
            &[stars='0'] {
                width: calc(#{$star-container} - (4 * #{$star-size}));
            }
        }

    }

    &__count {
        line-height: 16px;
        font-size: 10px;
        color: $color-dark-gray;
    }
}